
.tablaUsuarios{
    width: 70%;
    margin: 0 auto;
}

.crearUsuario{
    width: 70%;
    margin: 0 auto;
}

.formUsuario{
    width: 70%;
    margin: 0 auto;
}

.buttonFooter{
    margin-top: 15px;
}